/*全体のコンテナを定義するスタイル*/
#container {
    display: flex;
    width: 100%;
}

/* channelsセクションのスタイル */
#channels {
    width: 30%;
}

/* postsセクションのスタイル */
#posts {
    width: 70%;
}

#posts textarea {
    width: 80%;
}